* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #daebe8;
  color: black;
  border-radius: 25px;
  width: 95%;
  margin: auto;
  border: gray;
  border-width: 5px;
  margin-top: 10px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  padding-left: .5rem;
  user-select: none;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1rem;
}

.navbar-links li:hover {
  background-color: #87bdd8;
  
  z-index: 1;
  
}

.navbar-links li a:hover {
  color: white;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.dashboard-section {
  width: 95%;
  margin: auto;
  background-color: #f0f0f0; /* Set your preferred background color */
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px; /* Adjust as needed */
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}














/* Background Styles Only */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Lucida Sans', Arial, sans-serif;
}

html {
  background-color: #ffffff;
}

