body{
    color: #9b9ca7;
    background-color: #0e0e23;
    min-width: 320px;
}
.gradient-color{
    background: #252954;
    background: radial-gradient(
    circle,
    rgba(20, 24, 52, 1) 0%,
    rgba(19, 22, 47, 1) 100%
    );
}
.navbar-brand, .navbar-brand:hover{
    color: #9b9ca7;
    font-weight: lighter;
    user-select: none;
    border-bottom: 3px solid transparent;
}
.border-radius{
    border-radius: 1rem;
}
.nav-link:hover{
/* background: #11132c;
border-bottom: 3px solid #4255d4; */

}
.nav-link, .bi{
    border-bottom: 3px solid transparent;
    align-items: center;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
    /* Add your custom styles for card text color here */
.card-text {
    color: #9b9ca7;
}